@import "global";

h1 {
    width: 14.5em;
}

.avatar-wrapper {
    text-align: center;
}

.avatar-wrapper img {
    border-radius: 50%;
    height: 10em!important;
    width: 10em!important;
    border: 3px solid #1abc9c;
}

.left {
    margin-right: 8em;
}

.right {
    margin-left: 8em;
}

.cat {
    font-family: Courier, 'Courier New', monospace; 
    color: #ddd; 
    letter-spacing: -2;
    font-weight: 700;
    padding: 0.250em;
    text-align: center;
    font-size: 5em;
}
